* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      font-family: 'Lato', sans-serif;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

  .container,.section {
      width:1080px;
      max-width: 1200px;
      margin: 0 auto;
  }

  .fw-fixedbar,.fw-sectionhub,.fw-bizdata2 {
      background-color: #f5f8fa;
  }

   .fw-navbar {
      padding:20px;
      background-color: #ffffff;
  }

  .container.navbar img {
      float: left;
  }

  .container.navbar nav {
      float: right;
  }

  li {
      display: inline-block;
      text-decoration: none;
  }

  nav ul li {
      padding: 6px 16px;
      font-weight: 600;
      font-size: 16px;
  }

  .fw-infobar {
      background-color: #425b76;
  }

  .container.infobar {
      padding:20px;

  }

  .info-text {
      float: left;
      width: 910px;
  }

  .info-text p {
      color: white;
      font-size: 16px;
      padding-right: 40px;
      line-height: 1.5;
  }

  .info-cta a {
      margin: 1px;
      background-color: white;
      padding: 12px 24px;
      color: black;
      border-radius: .1875rem;
      float: left;
      font-size: 0.875rem;
      font-weight: 600;

  }

  a {
      text-decoration: none;
  }

  .fw-jumbotron {
      background-color: #FFF2EE;
  }

  .section.jumbotron {
      padding: 100px 0;
  }

  .sj-text {
       width: 481px;
  }

  .section.jumbotron h1 {
      font-size: 3.438rem;
      line-height: 1.1818;
      font-weight: 900;
      text-align: left;
      font-family: "Roboto", sans-serif;
  }




  .fw-bottombar {
      background-color: #afebe4;
  }

  .fw-bizdata {
      background-color: #00b0b2;
  }

  footer {
      background-color: #33475b;

  }
